/*-- BUTTONS ----------------------------------------------- */

a.button1,
a.button2,
a.button3,
a.button4 {
	font-size:11px;
	text-decoration:none;
	padding:2px 10px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background-position:left top;
	background-image:url(images/bg_tab_span3.png);
	}

a.button1 {	border:1px solid #CCC; color:#191919; background-color:#ececec; }
a.button1:hover {	border:1px solid #777; text-decoration: none; }

a.button2 {	border:1px solid #067ebd; color:#FFF; background-color:#2d9ad3; -moz-text-shadow: -1px -1px 0 #067ebd; -webkit-text-shadow: -1px -1px 0 #067ebd; text-shadow: -1px -1px 0 #067ebd; }
a.button2:hover {	border:1px solid #01659a; background-color:#067ebd; text-decoration: none; }

a.button3 {	border:1px solid #70862e; color:#FFF; background-color:#8AA43C; -moz-text-shadow: -1px -1px 0 #708f14; -webkit-text-shadow: -1px -1px 0 #708f14; text-shadow: -1px -1px 0 #708f14; }
a.button3:hover {	border:1px solid #4f601a; background-color:#708f14; text-decoration: none; }

a.button4 {	border:1px solid #e08a02; color:#FFF; background-color:#ea9a01; -moz-text-shadow: -1px -1px 0 #e08a02; -webkit-text-shadow: -1px -1px 0 #e08a02; text-shadow: -1px -1px 0 #e08a02; }
a.button4:hover {	border:1px solid #d26d00; background-color:#e08a02; text-decoration: none; }

a.bigbutton {
	color:#FFF;
	line-height:34px;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#8aa43c;
	background-image:url(images/bg_bigbutton.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding:5px 32px 5px 12px;
	border:3px solid #FFF;
	white-space:nowrap;
	
	opacity: .85;
	-moz-opacity:.85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;

	-moz-box-shadow: 0 0 7px #999;
	-webkit-box-shadow: 0 0 7px #999;
	box-shadow: 0 0 7px #999;

	-moz-text-shadow: -1px -1px 0 #798c41;
	-webkit-text-shadow: -1px -1px 0 #798c41;
	text-shadow: -1px -1px 0 #798c41;

	margin:0 7px 0 0;
	}

a.bigbutton:hover {
	/*
	background-color:#98b73c;
	margin:0 0px 0 7px;
	*/
 text-decoration: none;	}

/*-- FEATURED ----------------------------------------------- */

.asfp_featured {
	position:relative;
	}

.asfp_featured .t {
	padding:7px 0;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	background-image:url(images/bg_tab_span2.png);
	position:relative;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}

.asfp_featured .c,
.asfp_featured .c2 {
	background:#FFF;
	padding:10px;
	margin:0 0 30px 0;
	border:1px solid #d2d2d2;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}

.asfp_featured .c2 {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}

.asfp_featured .ribbon { position:absolute; z-index:2; right:-1px; top:-1px; height:60px; width:59px; }

/*-- MESSAGES ----------------------------------------------- */

.green_message {
	display:block;
	padding:10px 10px 10px 40px;
	margin:0 0 1.4em 0;
	border:1px solid #D2EBB1;
	background:#EDFFD6 url(images/icons/16/ico_tip.gif) 8px 50% no-repeat;
	}

.green_message, .green_message a { color:#527A19; }

.blue_message {
	display:block;
	padding:10px 10px 10px 40px;
	margin:0 0 1.4em 0;
	border:1px solid #AFDBEE;
	background:#E4F5FD url(images/icons/16/ico_info.gif) 8px 50% no-repeat;
	}

.blue_message, .blue_message a { color:#2A80A7; }

.yellow_message {
	display:block;
	padding:10px 10px 10px 40px;
	margin:0 0 1.4em 0;
	border:1px solid #F8ECA9;
	background:#FFFADE url(images/icons/16/ico_alert.gif) 8px 50% no-repeat;
	}

.yellow_message, .yellow_message a { color:#DB7701; }

/*-- DROPCAPS ----------------------------------------------- */

.dropcap {
	color:#333;
	font-size:3.5em;
	height:30px;
	margin:-3px 5px 0 -0.08em;
	line-height:0.8em;
	float:left;
	display:block;
	}

ul#foo .dropcap {
	color:#FFF;
	}

.dropcap2 {
	color:#191919;
	width:22px;
	display:block;
	float:left;
	margin:0 5px 0 0;
	text-align:center;
	background:url(images/dropcap.png) 60% center no-repeat;
	}

/*-- HIGHLIHTS ----------------------------------------------- */

.highlight_yellow {	background:#F8ECA9; color:#191919; }
.highlight_blue {	background:#AFDBEE; color:#191919; }
.highlight_green {	background:#D2EBB1; color:#191919; }

/*-- COLUMNS ----------------------------------------------- */

.last {
	clear:right;
	margin-right:0 !important;
	}

.one_half, 
.one_third, 
.two_third, 
.three_fourth, 
.one_fourth {
	float:left;
	margin-right:30px;
	position:relative;
	line-height:1.6em;
	}

.one_half {	width:425px; }
.one_third {	width:273px; }
.one_fourth {	width:197px; }
.two_third {	width:577px; }
.three_fourth {	width:653px; }

/*-- LISTS ----------------------------------------------- */

.basic_list {	list-style-type:none; margin:0; padding:0 0 1.6em 0; }
.basic_list li {	background:url(images/line.png) left top repeat-x; padding:5px 0 !important; }
.basic_list li a {	text-decoration:none;}
.basic_list li a:hover { text-decoration:underline;}

.check_list {	list-style-type:none; margin:0; padding:0 0 1.6em 0; }
.check_list li {	padding:0 0 0 23px; background: url('images/icons/16/ico_check.png') left 3px no-repeat; }
ul#foo .check_list li,
ul#sidebar .check_list li,
ul#foo .check_list li:last-child,
ul#sidebar .check_list li:last-child { 
		padding:5px 0 5px 23px; background: url(images/icons/16/ico_check.png) left 5px no-repeat;}

/*-- ICONS ----------------------------------------------- */

.asfpicon {
	padding:0 0 0 25px; 
	background:  5px 50% no-repeat; 
}

.ico_dollar { background-image: url(images/icons/16/ico_dollar.png); margin:0 5px 0 0;}
a.ico_dollar strong, a.ico_dollar {color:#638d2b;}
.oldprice {		padding:0 0 0 5px; font-size:11px; text-decoration: line-through; color:#888;}
.off {		padding:0 0 0 5px; font-size:11px; text-decoration:none; color:#ee4322;}

.ico_new {	background-image: url(images/icons/16/ico_new.png);}
.ico_phone {  background-image: url(images/icons/16/ico_phone.png) }
.ico_home {	background-image: url(images/icons/16/ico_home.png) }
.ico_male { background-image: url(images/icons/16/ico_male.png) }
.ico_female { background-image: url(images/icons/16/ico_female.png) }
.ico_star {	background-image: url(images/icons/16/ico_star.png) }
.ico_mail { background-image: url(images/icons/16/ico_mail.png) }
.ico_support {background-image: url(images/icons/16/ico_support.png) }
.ico_excel { background-image: url(images/icons/16/ico_excel.png) }
.ico_download { background-image: url(images/icons/16/ico_download.png) }
.ico_monitor { background-image: url(images/icons/16/ico_demo.png) }
.ico_paintcan { background-image: url(images/icons/16/ico_paintcan.png) }
.ico_pie { background-image: url(images/icons/16/ico_pie.png) }
.ico_basket { background-image: url(images/icons/16/ico_basket.png) }
.ico_database { background-image: url(images/icons/16/ico_database.png) }
.ico_find { background-image: url(images/icons/16/ico_find.png) }
.ico_key { background-image: url(images/icons/16/ico_key.png) }
.ico_arrow { background-image: url(images/icons/16/ico_arrow_right.png) }

/*-- TABS ----------------------------------------------- */

#content ul.asfptabs, ul.asfptabs {	padding:0 0 1px 0; }
#content ul.asfptabs, ul.asfptabs {	list-style-type:none; margin:0; padding:0; overflow:hidden; }
#content ul.asfptabs li, ul.asfptabs li {	float:left; margin-bottom: 0; list-style-type: none; }
#content ul.asfptabs li a, ul.asfptabs li a {	text-decoration:none; margin:0 1px 0 0; }
#content ul.asfptabscontent, ul.asfptabscontent { margin-top: 0; margin-left:0; padding-left: 0;}
#content ul.asfptabscontent li, ul.asfptabscontent li { list-style-type: none; margin: 0; }

ul.asfptabs li,
ul.asfptabs a span {
	width:auto !important;
	min-width:20px !important;
	}

ul.asfptabs li,
ul.asfptabs li:last-child {
	padding:0;
	margin:0;
	}

ul.asfptabs li a {
	display:block;
	line-height:1em;
	background-image: url(images/bg-black-20.png);
	padding:5px 10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}

ul.asfptabs a:hover,
ul.asfptabs a.active {
	background-image: url(images/bg-black-60.png);
	color:#FFF;
	}

ul.asfptabscontent {
	background-image: url(images/line2px60.png);
	background-position:top left;
	background-repeat:repeat-x;
	padding:5px 0 20px 0;
	list-style:none;
	}

ul.asfptabscontent li {
	margin-left: 0;
}

/*-- TOGGLE ----------------------------------------------- */

.toggle {
	padding:0.4em 0 0.4em 20px;
	font-size:15px;
	background-image: url(images/plus-minus.png);
	background-repeat:no-repeat;
	}

ul#foo .toggle {
	color:#FFF;
	}

.toggle:hover {
	cursor:pointer;
	text-decoration:underline;
	}

.toggle_content {
	background-image: url(images/bg-black-10.png);
	background-repeat:repeat;
	clear:both;
	margin:0 0 20px;
	overflow:hidden;
	position:relative;
	}


.toggle_content .tc {
	padding:10px 20px 13px 20px;
	display:block;
	}

/*-- LINE ----------------------------------------------- */

.hline {
	height:11px;
	background: url(images/line.png) left center repeat-x;
	}

.blankline {
	height: 14px;
}	

.clr {
	clear: both;
	height: 0px;
}

blockquote {
	padding:10px 0 15px 40px;
	margin:0 0 1em 0;
	font-size:15px;
	background:url(images/quote_left.png) left 10px no-repeat;
	color:#333;
	}

blockquote p {
	line-height:1.4em !important;
	padding:0 !important;
	color:#333;
	}

ul#foo blockquote,
ul#foo blockquote p {
	color:#FFF;
	}

.bgt {
	background:url(images/line.png) left top repeat-x;
	}

.bgb {
	background:url(images/line.png) left bottom repeat-x;
	}

blockquote .a {
	padding:10px 0 5px 0;
	color:#888;
	text-align:right;
	}

blockquote.left {
	width:200px;
	float:left;
	padding:10px 10px 15px 40px;
	margin:0 20px 1em 0;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	}

blockquote.right {
	background:url(images/quote_left.png) 10px 10px no-repeat;
	width:200px;
	float:right;
	margin:0 0 1.2em 10px;
	border-left:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	}

span.asfp-photo-stack img {
	background: url('images/photo-stack.gif') no-repeat;
	width: 105px;
	height: 105px;
	padding: 23px 30px 18px 11px;
}
